[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
flask = "*"
flask_sqlalchemy = "*"
Werkzeug = "2.2.2"
flask_migrate = "*"
sqlalchemy_serializer = "*"
flask_restful = "*"
flask_cors = "*"
faker = "*"
gunicorn = "*"
psycopg2_binary = "*"
honcho = "*"
flask_bcrypt = "1.0.1"
python_dotenv = "0.21.0"


[requires]
python_full_version = "3.8.13"
