.userBlogHomeGrid{
    display: grid;
    margin-top: 20px;
    display: grid;
}

.userBlogHomeContainer{
    height: 500px;
    border: solid;
    border-radius: 5%;
    width: 300px;
    align-items: center;
    /* background-color: #1501A1; */
    background-color: #D8E3DD;
    text-align: center;
}

.userHomeImg{
    height: 250px;
    width: 250px;
    margin-top: 15px;
    border-radius: 25%;
}

.userBlogHomeTitle{
    color: black;
    font-size: x-large;
}

.userBlogHomeInfo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.userImgBlogHome{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.userHomePublishedBlog{
    color: black;
}

.userHomeBlogViews{
    color: black;
}