.charityDonorImgContainer{
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.charityDonorImg{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}