.userBlogContainers{
    margin-left: 20px;
}


.blogImg{
    height: 200px; /* Adjust height as needed */
    width: 100%; /* Take up full width */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px; 

}

.blogTitle{
    margin-top: auto;
    text-align: center;
}