.userLogoContainer{
    height: 400;
    border: none;
    border-bottom: solid;
}

.userPgLogo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 40%;
    margin-top: 20px;
}

.userPgName{
    margin-left: 40%;
}

.userEmail{
    margin-left: 35%;
}

.userSignUpDate{
    margin-left: 38%;
}

.writeUserBlog{
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    margin-left: 37%;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 100%;
}


