.signUpForm{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: aliceblue;
}

.usernameSignUp{
    margin-left: 200px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    border: none;
    border-bottom: solid;
    font-size: 200%;
    color: black;
}

.usernameSignUp:hover{
    opacity: 1;
    background-color: yellow;
}

.usernameError{
    color: red;
    margin-left: 200px;
}

.userEmailSignUp{
    margin-left: 200px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    border: none;
    border-bottom: solid;
    font-size: 200%;
    color: black;
    margin-top: 50px;
}

.userEmailSignUp:hover{
    opacity: 1;
    background-color: yellow;
}

.emailError{
    color: red;
    margin-left: 200px;
}

.userPasswordSignUp{
    margin-left: 200px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    border: none;
    border-bottom: solid;
    font-size: 200%;
    color: black;
}

.userPasswordSignUp:hover{
    opacity: 1;
    background-color: yellow;
}

.userImgSignUp{
    margin-left: 200px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    opacity: 0.5;
    border: none;
    border-bottom: solid;
    font-size: 200%;
    color: black;
}

.userImgSignUp:hover{
    opacity: 1;
    background-color: yellow;
}

.submitNewUser{
    opacity: 0.5;
    margin-top: 100px;
    height: 100px;
    width: 150px;
    margin-left: 450px;
}

.signupConfirmed{
    text-align: center;
}
