.blogPostContainer{
    margin-left: 250px;
}

.blogContent{
    margin-left: 10px;
}

.editContentText{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 700px;
}



