.blogsHomeContainer{
    margin-left: 250px;
}

.blogsHomeHeader{
    text-align: center;
}

.blogsShowCase{
    margin-left: 20px;
    margin-right: 20px;
}

.selectedBlogs{
    opacity: 1;
    height: 60px;
    width: 200px;
    font-size: 100%;
    background-color: darkgray;
    border: none;
    font-weight: bold;
    text-decoration: underline;
}

.deselectedBlogs{
    opacity: 0.5;
    height: 60px;
    width: 200px;
    border: none;
    background-color: darkgray;
}

.renderBlogs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.userCharityBlogButton{
    margin-left: 30px;
    height: 70px;
    margin-right: 50px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-color: darkgray;
}

.filterBlogs{
    margin-top: 20px;
    margin-left: 30px;
    border: none;
    background-color: #E7E1D5;
    height: 100px;
    border-bottom: solid;
    margin-right: 100px;
    width: 800px;
    font-size: 400%;
}






