.charityBlogs{
    margin-left: 250px;
    height: 350px;
    border-bottom: solid;
}


.charityBlogGrid{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.recentButton{
    margin-left: 480px;
    height: 40px;
    width: 100px;
}

.previousButton{
    margin-left: 10px;
    height: 40px;
    width: 100px
}

.noPrevButton{
    margin-left: 480px;
    height: 40px;
    width: 100px;
    border: none;
    opacity: 0.2;
}

.noNextButton{
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border: none;
    opacity: 0.2;
}

.charityDonations,
.charityReviews{
    border-bottom: solid;
    margin-left: 250px;
}

.donorToggleButtons{
    margin-bottom: 10px;
}

.charityDonationsHeader,
.reviewHeader{
    display: grid;
    grid-template-columns: 75% 25%;
}

.makeDonation,
.writeReview{
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    background-color: green;
    color: white;
}

.cancelDonation,
.cancelReview{
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    background-color: red;
    color: white;
}

.newReviewcontainer{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    height: 250px;
    margin-top: 0px;
    border-bottom: solid;
}



  