.userHomePageContainer{
    margin-left: 250px;
}

.userHomeHeader{
    margin-top: 0px;
    margin-left: 20px;
    text-align: center;
}

.userHomeSearchBar{
    border: none;
    border-bottom: solid;
    margin-left: 20px;
    width: 900px;
    font-size: 400%;
    background-color: #E7E1D5;
    height: 100px;
}

.userHomeGrid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}