.homePgUserImgContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid;
    overflow: hidden;
    object-fit: contain;
    margin-top: 20px;
}

.homePgUserImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}