.homePgCharityImgContainer{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid;
    overflow: hidden;
}

.homePgCharityImg{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}