.charityLogo{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 50%;
}

.charityName{
    text-align: center;
    margin-left: 150px;
}

.charityLocation,
.charityDescription,
.charitySignUpDate{
    text-align: center;
    margin-left: 120px;
}

.charityLogoContainer{
    border: none;
    border-bottom: solid;
    height: 400px;
}

.writeCharityBlog{
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    margin-left: 47%;
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 100%;
}

