.reviewContainer{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #E5EAF5;
    border-bottom: dotted;
}

.userReviewHeader{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    background-color: white;
}

.userImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 10px;
}

.postTiming{
    margin-top: 28px;
}

.userCharityReview{
    margin-left: 10px;
    margin-right: 10px;
}

.reviewUser{
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.charityReviewGrid{
    display: grid;
    grid-template-columns: 70% 15% 15%;
}

.makeEdit,
.canEdit,
.deleteReview,
.submitReviewEdit{
    width: 120px;
    height: 40px;
    margin-top: 10px;
}

.conDel{
    width: 100%;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 100%;
    font-weight: bold;
}

.canDel{
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 100%;
    font-weight: bold;
    margin-top: 10px;
}

.editReviewTitle{
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 0px;
    border: none;
    border-bottom: solid;
    font-size: 200%;
    font-weight: bold;
}