

.donorInfo{
    border-bottom: dotted;
    margin-bottom: 10px;
}

.donorInfo{
    display: grid;
    grid-template-columns: 10% 70% 20%;
}

.donorImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}


