.relationGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* corrected from 1r to 1fr */
    padding-bottom: 50px;
    border-bottom: solid;
}

.numberDonationsContainer {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: dotted;
    text-align: center;
    background-color: #16463F;
    display: flex; /* Add flexbox */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */ 
}

.numberDonations {
    margin: 0; /* Remove default margin from h2 */
    color: aliceblue;
}

.donatedSumContainer{
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: dotted;
    text-align: center;
    background-color: #16463F;
    display: flex; /* Add flexbox */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

.donatedSum{
    margin: 0;
    color: aliceblue;
}

.charitySignUpDateContainer{
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: dotted;
    text-align: center;
    background-color: #16463F;
    display: flex; /* Add flexbox */
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
}

.charitySignUpDate{
    margin: 0;
    color: aliceblue;
}