.newReviewForm{
    margin-left: 312px;
    height: 120px;
    width: 700px;
    border: none;
    margin-bottom: 20px;
}

.reviewTitleInput{
    border: none;
    border-bottom: solid;
    margin-left: 10px;
    background-color: #E7E1D5;
    font-size: 100%;
    width: 600px;
}

.reviewContentInput{
    border: none;
    border-bottom: solid;
    margin-left: 10px;
    background-color: #E7E1D5;
    font-size: 100%;
    width: 600px;
    margin-top: 20px;
}

.reviewContentInput:hover,
.reviewTitleInput:hover{
    background-color: white;
}

.reviewTitleInput:active{
    background-color: white;
}

.selectedBox{
    width: 600px;
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
}

.submitReview{
    margin-bottom: 20px;
    margin-top: 10px;
    height: 35px;
    width: 150px;
    margin-left: 200px;
}