.charityGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Optional: Adds space between the grid items */
}

.charityCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.charityImg {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    object-fit: contain;
    border: solid;
}