.userSearch{
    height: 50px;
    width: 600px;
    border: none;
    border-bottom: solid;
    font-size: xx-large;
    background-color: #E7E1D5;
    color: black;
    padding: 20px;
    margin-left: 20px;
}